In [1]:
import pandas as pd
import numpy as np

# Preprocessing

In [14]:
from sklearn import datasets

In [49]:
data = datasets.load_diabetes()
X = pd.DataFrame(data.data, columns=data.feature_names)
X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

### Applying transformation to only specific columns of a df

In [50]:
##Â here, let's asay we only want to apply the standard scaler to numerical columns (all except sex)
from sklearn.preprocessing import StandardScaler

xnum = X.loc[:,X.columns != "sex"]
xcat = X.loc[:,'sex']

sc= StandardScaler()
xnum = pd.DataFrame(sc.fit_transform(xnum), columns=xnum.columns)

X = pd.merge(xnum,xcat, left_index=True, right_index=True)
X.head()

,age,bmi,bp,s1,s2,s3,s4,s5,s6,sex
0,0.800500,1.297088,0.459840,-0.929746,-0.732065,-0.912451,-0.054499,0.418551,-0.370989,0.050680
1,-0.039567,-1.082180,-0.553511,-0.177624,-0.402886,1.564414,-0.830301,-1.436551,-1.938479,-0.044642
2,1.793307,0.934533,-0.119218,-0.958674,-0.718897,-0.680245,-0.054499,0.060207,-0.545154,0.050680
3,-1.872441,-0.243771,-0.770658,0.256292,0.525397,-0.757647,0.721302,0.477072,-0.196823,-0.044642
4,0.113172,-0.764944,0.459840,0.082726,0.327890,0.171178,-0.054499,-0.672582,-0.980568,-0.044642